html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-paginator-container {
    justify-content: end !important;
}

mat-form-field{
    width:100% !important;
}

.container{
    margin-left: 100px;
    margin-right: 100px;
    overflow-y: hidden;
}

.m5{
    margin:5px !important;
}

.pull-right{
    float:right !important;
}

table {
    width: 100%;
}
.center{
    width: 50%;
    margin: auto;
}

.error-msg{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    color: red;
}

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    margin-top:200px;
  }
  
  mat-form-field {
    display: block;
  }